/*.container{
 
  padding: 12px 40px 12px;
 background-color: #1B1B1B;
 
 
 
   }
   ul{
     list-style: none;
   }
   .row{
     display: flex;
     flex-wrap: wrap;
   }
   .footer{ 
     padding: 70px 0;
   }
   .footer-col{
     width: 25%;
     padding: 0 15px;
     
   
   }
   .footer-col h4{
     font-size: 18px;
     color: #fff;
     text-transform: capitalize;
     margin-bottom: 30px;
     font-weight: 500;
     position: relative;
     
   }
   .footer-col h4::before{
     content: '';
     position: absolute;
     left: 0;
     bottom: 10px;
     height: 2px;
     box-sizing: border-box;
     width: 50px;
   }
 
   .footer-col h5{
     color: #fff;
     text-transform: capitalize;
     margin-bottom: 15px;
     font-weight: 500;
     position: relative;
   }
 
   .footer-col ul li:not(:last-child){
     margin-bottom: 10px;
   }
   .footer-col ul li a{
     font-size: 16px;
     text-transform: capitalize;
     color: #fff;
     text-decoration: none;
     font-weight: 300;
     color: #fff;
     display: block;
     transition: all 0.3s ease;
   }
   .footer-col ul li a:hover{
     color: rgb(43, 231, 47);
     padding-left: 8px;
   }
 .social-links ul{
     margin-top: 30px;
     text-align: center;
     color: #fff;
     transition: all 0.5s ease;
     
   }
   .logos{
   display: flex;
   flex-direction: row;
   align-items: center;
   vertical-align: middle;
   justify-content: center;
   
   }
   .logos li{
     margin-left: 15px;
   }
   .footer-col p{
     font-size: 16px;
     color: #fff;
     text-align: center;
 
   }
   .footer-col .social-links li:hover{
     color: rgb(43, 231, 47);
     padding-left: 10px;
     transition: all 0.5s ease;
   }
 */